extends base

block content
  .block.
    Далеко-далеко за словесными горами в стране, гласных и 
    согласных живут <b>рыбные</b> тексты. 
    Образ страну переписали если напоивший строчка? 
    Выйти путь заманивший семь.